<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	<!-- boilerplate.css -->

	{{> base/font}}

	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}

</head>

<body class='tk-atlas'>

	{{> base/header }}

	<main id='content'>

		{{> story/intro }}
		<div class='prelude prose'>
			{{#each copy.prelude}}
			<p>{{{value}}}</p>
			{{/each}}
		</div>

		<section id='winners'>
			<div class='hed'>
				<h2>{{copy.hed1}}</h2>
				<p>{{copy.dek1}}</p>
				<p>{{copy.prize1}}</p>
			</div>
			
			
			<ul>
				{{#each copy.passion}}
				<li>
					<h3><a href='{{url}}' target='_blank'>{{title}}</a></h3>
					<p class='credit'>Credit: {{name}}</p>
					<a href='{{url}}' target='_blank'><img src='assets/img/{{img}}.jpg'></a>
					{{#each remarks}}
					<p>{{{value}}}</p>
					{{/each}}
				</li>
				{{/each}}
			</ul>

			<h3>{{copy.passionOtherHed}}</h3>
			<ul class='other'>
			{{#each copy.passionOther}}
			<li>
				<a href='{{url}}' target='_blank'>{{title}}</a></p>
			</li>
			{{/each}}
			</ul>
			<div class='hed'>
				<h2>{{copy.hed2}}</h2>
				<p>{{copy.dek2}}</p>
				<p>{{copy.prize2}}</p>
			</div>
		

			<ul>
				{{#each copy.pay}}
				<li>
					<h3><a href='{{url}}' target='_blank'>{{title}}</a></h3>
					<p class='credit'>Credit: {{name}}</p>
					<p class='credit'>Publication: {{org}}</p>
					<a href='{{url}}' target='_blank'><img src='assets/img/{{img}}.jpg'></a>
					{{#each remarks}}
					<p>{{{value}}}</p>
					{{/each}}
				</li>
				{{/each}}
			</ul>

			<h3>{{copy.payOtherHed}}</h3>
			<ul class='other'>
			{{#each copy.payOther}}
			<li>
				<a href='{{url}}' target='_blank'>{{title}}</a></p>
			</li>
			{{/each}}
			</ul>

		</section>
		
		
		{{!-- <div class='prose details'>
			<ul>
				{{#each copy.details}}
				<li>{{{value}}}</li>
				{{/each}}
			</ul>
		</div>

		<p class='submit'>
			<a href='{{copy.submit}}' target='_blank'>Enter Now!</a>
		</p> --}}

		

	</main>

	{{!--
	<script src='{{basepath}}assets/scripts/d3.v5.0.0.min.js'></script> --}}
	<script src='{{basepath}}assets/scripts/d3.v4.12.0+jetpack.min.js'></script>
	<script src='bundle.js?version={{timestamp}}' async></script>
	<script src='https://pudding.cool/assets/scripts/pudding-footer.js' async></script>
</body>

</html>